In [ ]:
#Homework Methods and Functions

In [9]:
def vol(rad):
    return (4/3)*(3.14)*(rad**3)

In [10]:
# Check
vol (2)

33.49333333333333

In [16]:
def ran_check(num,low,high):
    if num in range(low, high+1):
        print("5 is in the range between 2 and 7")
        break

In [17]:
#Check
ran_check(5,2,7)

5 is in the range between 2 and 7

In [67]:
def ran_bool(num, low, high):
    for num in range(1,10):
        print()
        break

In [70]:
3 in range(1,10)

True

In [79]:
#Sample String: 'Hello Mr. Rogers, how are you this fine Tuesday?'

def up_low(s):
    lowercase = 0
    uppercase = 0
    
    for char in s:
        if char.islower():
            lowercase += 1
            
        elif char.isupper():
            uppercase += 1
        else:
            pass
    print(f"Original String: {s}")
    print(f"Uppercase count: {uppercase}")
    print(f"Lowercase count: {lowercase}")

In [80]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String: Hello Mr. Rogers, how are you this fine Tuesday?
Uppercase count: 4
Lowercase count: 33

In [88]:
def unique_list(lst):
    return list(set(lst))

In [89]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [60]:
def multiply(numbers):
    result = 1
    for x in numbers:
        result = result * x
    return(result)

In [61]:
multiply([1,2,3,-4])

-24

In [94]:
def palindrome(s):
    s = s.replace(' ', '')
    
    return s == s[::-1]

In [95]:
palindrome('nurses run')

True

In [102]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    
    alphaset = set(alphabet)
    str1 = str1.replace(' ','')
    str1 = str1.lower()
    str1 = set(str1)
    return str1 == alphaset

In [103]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [ ]:
#Object Oriented Programming Assignment

In [ ]:
#Fill in the Line class methods to accept coordinates as a pair of tuples and return 
#the slope and distance of the line

class Line:
    def __init__(self, coor1,coor2):
        self.coor1 = coor1
        self.coor2 = coor2
    
    def distance(self):
        pass
    
    def slope(self):
        pass

In [ ]:
coordinate1 = (3,2)
coordinate2 = (8,10)

In [ ]:
li = Line(coordinate1, coordinate2)

In [ ]:
li.distance()

In [ ]:
li.slope()

In [123]:
#2 Fill in the class

class Cylinder:
    
    def __init__(self,height=1,radius=1):
        
        self.height = height
        self.radius = radius
        
    def volume(self):
        return self.height * 3.14 * (self.radius)**2
    
    def surface_area(self):
        
        top = 3.14 * (self.radius**2)
        return (2*top) + (2*3.14*self.radius*self.height)

In [124]:
c = Cylinder(2,3)

In [125]:
c.volume()

56.52

In [122]:
c.surface_area()

94.2